name: MOT ML Train v1

on:
  workflow_dispatch: {}

jobs:
  train-mot-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ml/requirements.txt

      - name: Run clean_data script
        run: python ml/scripts/clean_data.py

      - name: Run train_model script
        run: python ml/scripts/train_model.py

      - name: List output files
        run: ls -R
